ipykernel
python-dotenv
langchain
langchain-text-splitters
langchain-community
langchain-core
langchain-openai
langchain-chroma
langchain_ollama
chromadb
pydantic>=2.7.0
beautifulsoup4
tiktoken
numpy
pypdf
